.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 600px;
  height: 300px;
  border-radius: 30px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 4rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 4rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
input {
  margin-top: 10px;
  height: 40px;
  line-height: 25px;
  width: 200px;
  text-indent: 10px;
}
.listField {
  width: 500px;
  margin: 0 auto;
  padding: 0px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listField li {
  padding: 5px;
  background-color: #f8f8f8;
  color: black;
  border-bottom: 1px solid #f1f1f1;
  clear: both;
}

.listField li span {
  display: block;
}
.listField li span.name {
  display: left;
}
.listField li span.surname {
  display: center;
}
.listField li span.phone {
  display: right;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
